@import url(https://fonts.googleapis.com/css?family=Roboto:300);

html {
    position: relative;
    min-height: 100%;
}

.wrapper {
    min-height: 100%;
    position: static;
    overflow: hidden;
}

.main-header {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    position: relative;
    max-height: 100px;
    z-index: 1030;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}

.container .info {
    margin: 50px auto;
    text-align: center;
}

.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}

.container .info span a {
    color: #000000;
    text-decoration: none;
}

.container .info span .fa {
    color: #EF3B3A;
}

body {
    /*background: #76b852; !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(right, #76b852, #8DC26F);*/
    /*background: -moz-linear-gradient(right, #76b852, #8DC26F);*/
    /*background: -o-linear-gradient(right, #76b852, #8DC26F);*/
    /*background: linear-gradient(to left, #76b852, #8DC26F);*/
    background: url(../../img/banner.jpg);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 60px;
    overflow: hidden;
}

.right {
    float: right;
}

.breadcrumbs {
    margin-bottom: 15px;
    font-size: 20px;
}

.countdown {
    margin: 0 auto;
    text-align: center;
}

.start {
    margin: 25px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #222;
}

.logo {
    height: 52px;
    width: 124px;
}

.logo_left {
    margin-left: 53px;
    margin-top: 10px;
}

/*reintroduce style*/
.alert {
    padding: 5px !important;
}

@media (min-width: 768px) {
    .navbar {
        border: 0;
        border-radius: 0px !important;
    }
}

.footer_bottom {
    position: relative;
    top: 40%;
}

